<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>후원 조회</title>
    <link rel="stylesheet" href="/css/support/support-inquiry.css"/>
    <link rel="stylesheet" href="/css/main/basic-header.css" />
    <link rel="stylesheet" href="/css/main/footer.css"/>
    <link rel="stylesheet" href="/css/main/login-header-no-noti.css">
    <link
            rel="icon"
            href="/images/favicon.png"
    />
</head>
<body style="overflow-x: hidden">
<div th:if="${isLogin}">
    <th:block th:replace="~{main/login-header-no-noti :: header}"></th:block>
</div>
<div th:if="${!isLogin}">
    <th:block th:replace="~{main/basic-header :: header}"></th:block>
</div>
<form method="get" action="/support/updatePoint">
    <div class="approvemodal" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: none; justify-content: center; align-items: center; z-index: 10000;">
        <div style="
            transform: translate3d(0px, 0px, 0px);
            z-index: 10002;
            box-sizing: border-box;
            transition: transform 500ms cubic-bezier(0, 0, 0.25, 1),
                opacity 500ms cubic-bezier(0, 0, 0.25, 1);">
            <div class="alert-modal-inner-1u03v alert-modal" style="width: 365px">
                <div class="alert-txt-box-2bji8">
                    <span class="alert-ico-1mtdg"></span>
                    <p>목표 포인트: <span id="goalPointText" th:text="${support.goalPoint}"></span></p>
                    <p>현재까지 후원된 포인트: <span id="currentPointText" th:text="${support.currentPoint}"></span></p>
                    <p>후원할 포인트를 입력해주세요.</p>
                    <input type="number" name="currentPoint" value=""> <!-- 업데이트할 포인트 -->
                    <p>보유 포인트: <span id="memberPointText"  th:text="${member?.memberPoint ?: '0'}"></span></p>
                    <button class="alert-btn-complete" id="confirmApprove" data-listener="true">
                        확인
                    </button>
                </div>
            </div>
        </div>
        <div class="last-modal" style="
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 10001;
            ">
        </div>
    </div>
</form>
<div class="content-container-maincontent">
    <div class="thumbnail-background" style="position: relative">
        <main class="container-main-body">
            <section class="main-info-wrap">
                <section class="main-info">
                    <section class="left">
                        <div class="content-wrapper">
                            <div class="main-thumbnail-container">
                                <div
                                        class="main-thumbnail"
                                        width="100%"
                                >
                                    <div>
                                        <div class="observer"></div>
                                        <div th:each="attachment : ${attachments}">
                                            <img th:src="@{'/support/display?fileName=' + '/' + ${attachment.attachmentFilePath} + '/' + ${attachment.attachmentFileName} + ${attachment.attachmentFileRealName}}"
                                                 alt="첨부 이미지"
                                                 format="webp"
                                                 style="
                                                        width: 570px;
                                                        height: 570px;
                                                    "/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-navigation-wrapper tab-wrapper">
                            <div class="tab-style tabs">
                                <div class="active tab">내용</div>
                                <div class="tab">
                                    댓글
                                    <label class="tab-sticker" id="reply-count">0</label>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <section class="content-container">
                                <section class="content-introduce">
                                    <div
                                            class="content-title row-title"
                                    >
                                        한 줄 소개
                                    </div>
                                    <div
                                            class="content-content row-content"
                                            th:text="${support.postSummary}"
                                    >
                                    </div>
                                </section>
                            </section>
                            <section class="content-title-container">
                                <div class="content-title row-title">
                                    목표 지원자
                                </div>
                                <div
                                        class="content-content row-content"
                                        th:text="${support.goalPoint}+ 포인트"
                                >
                                </div>
                            </section>
                            <section class="content-title-container">
                                <div class="content-title row-title">
                                    내용
                                </div>
                                <div
                                        class="content-content row-content"
                                        th:text="${support.postContent}"
                                >
                                    </p>
                                    <p>
                                        <img
                                                src="https://cdn-dantats.stunning.kr/prod/contest/de56377e-3288-4254-83e2-1ed3d14ba51c/briefingcontents/HNSdX7AK9ZoMg5cb.1725938690846%20-%20%EB%B3%B5%EC%82%AC%EB%B3%B8.jpg"
                                        />
                                    </p>
                                </div>
                            </section>
                            <section class="attach-title-container">
                                <div class="content-title row-title">
                                    첨부파일
                                </div>
                                <div
                                        class="content-content row-content"
                                >
                                    <ul class="attach-list attachments" id="attach-list">
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <div class="comment-wrap-fr">
                            <section>
                                <div class="comment-wrap">
                                    <section
                                            class="comment-section"
                                            id="comment-section"
                                    ></section>
                                    <div class="load-more-container">
                                        <button id="load-more" style="display: none;">더보기</button>
                                    </div>
                                </div>
                            </section>
                            <section class="contest-comment-input" style="width: 500px">
                                <input type="hidden" id="post-id" th:value="${postId}" />
                                <textarea
                                        class="comment-textarea"
                                        id="reply-content"
                                        placeholder="댓글을 입력하세요."
                                ></textarea>
                                <button class="submit-comment-button" type="button" name="btn-anwr-register">
                                    댓글 작성
                                </button>
                            </section>
                        </div>
                    </section>
                    <div class="space"></div>
                    <section class="right">
                        <div class="sticky-box">
                            <div class="right-title-wrap end">
                                <div class="right-title-container">
                                    <div class="report-container">
                                                <span
                                                        class="for-report"
                                                        id="report-btn"
                                                >
                                                    <img
                                                            class="img-report"
                                                            src="/images/report.png"
                                                    />신고하기
                                                </span>
                                    </div>
                                    <h2 class="title" th:text="${support.postTitle}">
                                    </h2>
                                    <div class="user-info">
                                        <a class="avatar-container avatar">
                                            <img th:src="${support.profileFileName != null ? '/profile/display?memberId=' + support.memberId : '/images/default-profile.png'}" alt="프로필 이미지" />
                                        </a>
                                        <div class="user-info-text-wrapper">
                                            <p class="user-nick-container company" title="큰나무이비인후과">
                                                <a class="user-nick nick" href="/m/megakukjin2297"
                                                   th:text="${support.memberName != null ? support.memberName : (support.memberNickname != null ? support.memberNickname : '닉네임없음')}"
                                                ></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <section class="prize-wrap prize">
                                    <div class="help">
                                        <p>목표 포인트</p>
                                    </div>
                                    <div class="total-prize"></div>
                                    <ul class="prizes">
                                        <div class="graph-wrap">
                                            <div class="graph-status">
                                                        <span
                                                        ><strong
                                                                class="num"
                                                        ></strong
                                                        >%</span
                                                        >
                                            </div>
                                            <div class="graph-bar">
                                                <span></span>
                                            </div>
                                        </div>
                                    </ul>
                                </section>
                                <div class="row-line"></div>
                                <section
                                        class="info-box-container meta"
                                >
                                    <div
                                            class="right-info-style info-box"
                                    >
                                        <div class="title">
                                            모금 기간
                                        </div>
                                        <div class="content" th:text="(${support.supportSDate != null ? support.supportSDate : '시작시간없음'}) + ' ~ ' + (${support.supportEDate != null ? support.supportEDate : '끝나는시간없음'})"></div>
                                        <div class="sub-content">
                                            <span>(24시까지)
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                            class="right-info-style info-box"
                                    >
                                        <div class="title">
                                            모인 포인트
                                        </div>
                                        <div class="content" th:text="${support.currentPoint} + 포인트"></div>
                                    </div>
                                    <div
                                            class="right-info-style info-box"
                                    >
                                        <div class="title">조회수</div>
                                        <div class="content" th:text="${support.postViewCount}"></div>
                                    </div>
                                </section>
                                <div class="volunteer-btn-container tooltip" >
                                    <div class="volunteer-btn-container tooltip">
                                        <input type="text" id="donation-amount-input" style="display: none; text-align: end" placeholder="기부할 금액을 입력하세요. ex) 10000">
                                        <button type="submit" class="support-btn-style" id="support-btn">
                                            <span class="visual-correction">후원하기</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="support-btn-wrap">
                                    <!-- 수정하기 폼 -->
                                    <form th:action="@{/support/support-update}" method="get" style="display: inline;">
                                        <input type="hidden" name="postId" th:value="${support.id}" />
                                        <button type="submit" class="support-btn-style2">
                                            <span class="visual-correction">수정하기</span>
                                        </button>
                                    </form>
                                    <div class="space"></div>
                                    <!-- 삭제하기 폼 -->
                                    <form th:action="@{/support/support-delete}" method="get" style="display: inline;"
                                          onsubmit="return confirm('정말 게시물을 삭제하시겠습니까?');">
                                        <input type="hidden" name="postId" th:value="${support.id}" />
                                        <button type="submit" class="support-btn-style2">
                                            <span class="visual-correction">삭제하기</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
            <form th:action="@{/report/report-write}" method="post" name="postReport" id="uploadForm">
                <input type="hidden" name="postId" th:value="${support.postId}">
                <div id="report-modal" class="modal">
                    <div class="modal-content">
                        <span class="close"></span>
                        <h2>게시글 신고</h2>
                        <div class="btn-group">
                            <div>
                                <label for="textInput">신고사유:</label>
                                <textarea
                                        type="text"
                                        id="textInput"
                                        name="reportReason"
                                        placeholder="신고 사유를 입력해주세요."
                                ></textarea>
                            </div>
                        </div>
                        <button
                                type="submit"
                                class="report-submit-btn"
                                id="reportSubmitBtn"
                        >
                            신고하기
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
<div th:replace="~{main/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const support = [[${support}]]
    const attachments = [[${attachments}]]
    const isAuthor = [[${isAuthor}]]
    const loginMember = [[${loginMember}]]
    console.log(isAuthor)
    console.log("가져온 아이디는:{}",support.postId)
</script>
<script src="/js/main/login-header.js"></script> <!-- 공통 헤더 관련 스크립트 -->
<script src="/js/support/layout/support-inquiry-layout.js"></script> <!-- 자원봉사 조회 레이아웃 -->
<script src="/js/support/event/support-inquiry-event.js"></script> <!-- 자원봉사 이벤트 처리 -->
<script src="/js/reply/reply-layout.js"></script> <!-- 댓글 레이아웃 -->
<!--<script src="/js/reply/reply-service.js"></script> &lt;!&ndash; 댓글 데이터 처리 &ndash;&gt;-->
<!--<script src="/js/reply/reply-event.js"></script> &lt;!&ndash; 댓글 이벤트 처리 &ndash;&gt;-->

</html>
